body{
    font-family: Arial;
    text-align: center;
    background: rgb(89, 87, 87);
}

#tablero{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 50%;
    margin: auto;
}

.celda{
    aspect-ratio: 1;
    border: 1px solid black;
}

.blanco{
    background: white;
}

.negro{
    background: black;
}
